.past__shifts__container {
  background-color: white;

  border: 1px solid white;
  border-radius: 5px;

  width: fit-content;
  padding: 10px;
  margin: 0 5px 0 50px;
}

.past__shifts__ul {
  padding-left: 20px;
}

.past__shifts__li {
  padding-top: 5px;
}

.no__past__shifts {
  padding: 0;
}

/* Styles for phones */
@media screen and (min-width: 375px) and (max-width: 480px) {
  .past__shifts__container {
    margin: 30px;
  }
}

/* Styles for bigger screens */

@media screen and (min-width: 1700px) {
  .past__shifts__container {
    margin-left: 0;
  }
}

/* Styles for smaller tablets */
@media screen and (min-width: 610px) and (max-width: 699px) {
  .past__shifts__container {
    margin-left: 180px;
  }
}

/* Styles for tablets */

@media screen and (min-width: 700px) and (max-width: 1350px) {
  .past__shifts__container {
    margin-left: 160px;
  }
}

/* Styles for bigger tablets */

@media screen and (min-width: 900px) and (max-width: 1250px) {
  .past__shifts__container {
    margin-left: 130px;
  }
}
