.add__shift__page {
  width: 85vw;
}

.add__shift__container {
  margin: 50px;
  width: 500px;
}

.add__shift__form {
  background-color: white;
  font-weight: bold;
  padding: 50px;

  border: 1px solid white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add__shift__title {
  max-width: fit-content;
  margin-top: 0;
  margin-bottom: 0;
}

.add__shift__form__items {
  display: flex;
  flex-direction: column;
}

.add__shift__inputs {
  border: 1px solid black;
  border-radius: 5px;

  padding: 5px;
  margin-top: 3px;
}

.add__button {
  border: none;
  border-radius: 5px;

  background-color: #c86f43;
  color: white;
  font-weight: bold;

  padding: 5px 10px;
  cursor: pointer;

  margin-top: 20px;
}

.add__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add__shift__inputs:focus,
.add__shift__textarea:focus,
.add__shift__select:focus {
  outline: none;
}

.add__shift__textarea {
  border-radius: 5px;
}

.add__shift__select {
  border-radius: 5px;
  padding: 5px;
  margin-top: 3px;
}

.error__message {
  color: red;
  margin: 0;
}

.successMessage {
  color: green;
  margin: 0;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #c86f43;
  border-radius: 50%;

  width: 24px;
  height: 24px;

  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styles for phones */
@media screen and (min-width: 375px) and (max-width: 480px) {
  .add__shift__page {
    width: 100vw;
    margin: 60px 0 20px 0;
  }
  .add__shift__container {
    width: 320px;
    margin: auto;
  }
  .add__shift__form {
    padding: 20px;
  }
}

/* Styles for bigger screens */

@media screen and (min-width: 1700px) {
  .add__shift__container {
    margin-left: 0;
  }
}

/* Styles for tablets */

@media screen and (min-width: 610px) and (max-width: 899px) {
  .add__shift__container {
    margin-left: 160px;
    width: fit-content;
  }
}

/* Styles for bigger tablets */

@media screen and (min-width: 900px) and (max-width: 1350px) {
  .add__shift__container {
    margin-left: 130px;
  }
}
