.home__container__header {
  width: 85vw;
}

.logo {
  display: block;
  margin: auto;
  padding-top: 20px;
}

.logo__hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, white, transparent);
}

.earnings__container {
  background-color: white;

  border: 1px solid white;
  border-radius: 5px;

  width: fit-content;
  padding: 10px;
  margin: 30px 5px 30px 50px;
}

/* Styles for phones */
@media screen and (min-width: 375px) and (max-width: 480px) {
  .home__container__header {
    width: 100vw;
  }

  .earnings__container {
    margin: 30px;
  }
}

/* Styles for smaller tablets */
@media screen and (min-width: 610px) and (max-width: 699px) {
  .earnings__container {
    margin-left: 180px;
  }

  .logo__hr {
    width: 35%;
  }
}

/* Styles for tablets */

@media screen and (min-width: 700px) and (max-width: 900px) {
  .earnings__container {
    margin-left: 160px;
  }

  .logo__hr {
    width: 50%;
  }
}

/* Styles for bigger tablets */

@media screen and (min-width: 900px) and (max-width: 1350px) {
  .earnings__container {
    margin-left: 130px;
  }

  .logo__hr {
    width: 50%;
  }
}

/* Styles for bigger screens */

@media screen and (min-width: 1700px) {
  .earnings__container {
    margin-left: 0;
  }
}
